{% extends 'base.html' %}

{% block content %}
<div class="container py-2">
    <div class="row">
        <div class="col-sm-6 m-auto">
            <div class="card bg-info text-light text-center">
                <div class="card-header">
                   <div class="lead">
                    Link Form
                   </div> 
                </div>
                <div class="card-body">
                    <form action="/create_link/" method="post">
                        {% csrf_token %}
                        <input type="text" name="name" class="form-control" placeholder="Enter Your Name...">
                        <hr>
                        <input value="Create Link" type="submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}